html { 
  background: url(../../assets/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
	font-family: 'redfive';
	src: url('redfive_.ttf')
}

body {
	margin-left: 10px;
}

.swImage {
	width: 250px;
	height: 150px;
	float: left;
	background: #fff;
	font-family: 'redfive';
	font-size: 20px;
}

.swImage img {
	width: 200px;
	height: 100px;
}

#mycharacter .swImage {
	border: 4px solid #1ac567;
}

#mycharacter{
		margin-top: 10px;
		padding-bottom: 170px;
}

#character-ptag p {
	clear: both;
	color: #fff;
	font-family: 'redfive';
}

#enemies {
	padding-bottom: 10px;
}

#enemies-ptag p {
	color: #fff;
	font-family: 'redfive';
}

#enemies #buttons .swImage {
	background: #b9bdc5;
	border: 2px solid #000;
}

#fightsection {
	padding-top: 150px;
	color: #fff;
	font-family: 'redfive';
}

#fightsection button {
	margin-top: 10px;
	font-family: 'redfive';
	background: #00A098;
	color: #fff;
	border: none;
	width: 120px;
	height: 34px;
}

#defender {
	margin-top: 10px;
}

#defender-ptag p {
	margin-bottom: 10px;
	margin-top: 10px;
	color: #fff;
	font-family: 'redfive';
}

#defender .swImage {
	background: #000;
	color: #fff;
	border: 4px solid #1ac567;
}

#buttons {
	padding-top: 20px;		
}

#message {
	color: #fff;
	margin-top: 170px;
	font-family: 'redfive';
}
