body {
	margin-left: 10px;
}

.swImage {
	width: 250px;
	height: 150px;
	float: left;
	border: 2px solid green;
	background: #fff;
}

.swImage img {
	width: 200px;
	height: 100px;
}

#mycharacter{
		margin-top: 150px;
		padding-bottom: 170px;
	}

#mycharacter p {
	margin-bottom: 10px;
}

#enemies {
	padding-bottom: 10px;
}

#enemies p {

}

#enemies #buttons .swImage {
	background: red;
	border: 2px solid #000;
}

#fightsection {
	padding-top: 150px;
}

#fightsection button {
	margin-top: 2px;
}

#defender {
	margin-top: 10px;
}

#defender p {
	margin-bottom: 10px;
}

#defender .swImage {
	background: #000;
	color: #fff;
}

#buttons {
	padding-top: 20px;		
}
