body {

	background: url(../../assets/images/background.jpg);
	margin-left: 10px;
}

.swImage {
	width: 250px;
	height: 150px;
	float: left;
	border: 2px solid green;
	background: #fff;
}

.swImage img {
	width: 200px;
	height: 100px;
}

#mycharacter{
		margin-top: 10px;
		padding-bottom: 170px;
	}

#character-ptag p {
	margin-top: 160px;
	color: #fff;
}

#enemies {
	padding-bottom: 10px;
}

#enemies-ptag p {
	color: #fff;
}

#enemies #buttons .swImage {
	background: red;
	border: 2px solid #000;
}

#fightsection {
	padding-top: 150px;
	color: #fff;
}

#fightsection button {
	margin-top: 10px;
}

#defender {
	margin-top: 10px;
}

#defender-ptag p {
	margin-bottom: 10px;
	margin-top: 10px;
	color: #fff;
}

#defender .swImage {
	background: #000;
	color: #fff;
}

#buttons {
	padding-top: 20px;		
}

#message {
	color: #fff;
	margin-top: 170px;
}
